@import '@styles/variables';
@import '@styles/mixins';

.button {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font: inherit;
  background-color: $grayColor;
  border: 1px solid $grayColor;
  color: $whiteColor;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 3rem;
  margin-right: 0.8rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  outline: none;

  &:hover,
  &:active {
    background-color: $dimGrayColor;
    border-color: $dimGrayColor;
  }

  @include respond(phone) {
    width: 100%
  }
}

.flat {
  background-color: transparent;
  color: $grayColor;
  border: 1px solid $grayColor;
  &:hover,
  &:active {
    color: $whiteColor;
    background-color: $grayColor;
  }
}
