$neroColor: #202020;
$whiteColor: #ffffff;
$whiteSmokeColor: #eeeeee;
$gainsboroColor: #e0e0e0;
$grayColor: #808080;
$lightGrayColor: #f5f5f5;
$veryLightGrayColor: #cccccc;
$bastilleColor: #313033;
$dimGrayColor: #696969;
$redColor: #ff0000;
$mistyRoseColor: #ffe4e4;
$blueColor: #0000ff;
