@import '@styles/variables';
@import '@styles/mixins';

.card {
  border-radius: 1.2rem;
  box-shadow: 0 0.2rem 0.8rem rgba($blackColor, 0.26);
  padding: 1.6rem;
  margin: 3.2rem auto;
  max-width: 51.2rem;

  @include respond(phone) {
    margin: 3.2rem 4rem;
  }
}
