@import '@styles/variables';

.button {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  background-color: $lightGrayColor;
  border: 1px solid $lightGrayColor;
  border-radius: 0.6rem;
  color: $dimGrayColor;
  padding-top: 0.1rem;
  padding-left: 0.3rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.6rem rgba($blackColor, 0.2);
  height: 4rem;

  &:hover,
  &:active {
    background-color: $veryLightGrayColor;
    border-color: $veryLightGrayColor;
    color: $whiteColor;
  }

  span:nth-child(1) {
    margin-top: 0.96rem;
  }

  .icon {
    margin-left: 0.64rem;
    margin-top: 0.64rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
