@import '../../styles/variables.scss';

.header {
  width: 100%;
  display: flex;
  padding: 0 10%;
  height: 5rem;
  background-color: $neroColor;

  nav {
    margin-left: 50rem;
    margin-top: 0.5rem;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 2rem;
        font-size: 1.2rem;
        color: $grayColor;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .current-user {
        display: flex;
        cursor: default;
        margin-left: -4rem;
        margin-top: 0.2rem;

        p {
          margin-top: -0.15rem;
          margin-left: 0.5rem;
          color: $whiteColor;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.logo {
  font-size: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteColor;

  a {
    text-decoration: none;
    color: $whiteColor;
  }
}
