@import '@styles/variables';
@import '@styles/mixins';

.section {
  .toggle-button {
    margin-left: 17.6rem;
    margin-top: 2rem;

    @include respond(phone) {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    margin-top: 3.2rem;
    margin-left: 4rem;

    li {
      margin-top: 2.4rem;
    }

    @include respond(phone) {
      margin-left: 0;
    }
  }

  .leave-comment {
    @include respond(phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .input {
    height: 3.52rem;
    width: 36.8rem;
    margin-left: 4.16rem;
    margin-top: 3.2rem;
    border: 1px solid $grayColor;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
    outline: none;

    @include respond(phone) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .button {
    background-color: $veryLightGrayColor;
    color: $bastilleColor;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0.96rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 1.6rem;

    &:hover {
      background-color: $grayColor;
      color: $whiteColor;
    }

    @include respond(phone) {
      margin-top: 1rem;
    }
  }

  .no-comments {
    text-align: center;
    font-size: 2.08rem;
    margin-top: 1rem;
  }
}
