@import '@styles/variables';
@import '@styles/mixins';

.show {
  box-shadow: 0 0.5rem 1.5rem rgba($blackColor, 0.2);
  background-color: $whiteSmokeColor;
  text-align: center;

  a {
    color: $grayColor;
    display: flex;
  }
}

.image {
  width: 100%;
  max-height: 32rem;
  overflow: hidden;

  img {
    background-color: $lightGrayColor;
    margin-left: -2rem;
  }

  span {
    width: 20rem !important;
    height: 27rem !important;

    @include respond(tablet-land) {
      height: 24rem !important;
    }

    @include respond(tablet) {
      height: 27rem !important;
    }

    @media only screen and (max-width: 34.3em) {
      height: 21rem !important;
    }
  }
}

.content {
  padding: 1.6rem;

  h3 {
    margin: 0.8rem 0;
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.76rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 1.2rem;
  }
}
