@import '../../styles/variables.scss';

.show {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: $whiteSmokeColor;
  text-align: center;

  a {
    color: $grayColor;
    display: flex;
  }
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;

  img {
    object-fit: cover;
    background-color: $lightGrayColor;
  }
  span {
    width: 200px !important;
    height: 300px !important;
  }
}

.content {
  padding: 1rem;

  h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }

  p {
    line-height: 1.5rem;
  }
}
