@import '../../styles/variables.scss';

.header {
  padding-bottom: 1rem;
  border-bottom: 8px solid $gainsboroColor;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  h1 {
    font-size: 2rem;
    color: $bastilleColor;
    line-height: initial;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      margin-left: 10rem;
    }
  }

  img {
    width: 200px;
    height: 120px;
  }

  @media (min-width: 768px) {
    margin-top: -1.2rem;
    flex-direction: row;
  }
}
