@import '@styles/variables';

.header {
  padding-bottom: 1.6rem;
  border-bottom: 0.8rem solid $gainsboroColor;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  h1 {
    font-size: 3.2rem;
    color: $bastilleColor;
    line-height: initial;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      margin-left: 16rem;
    }
  }

  img {
    width: 20rem;
    height: 12rem;
  }

  @media (min-width: 768px) {
    margin-top: -1.92rem;
    flex-direction: row;
  }
}
