@import 'styles/mixins';

.card {
  @include respond(phone) {
    margin-top: -3rem;
  }
}

.heading {
  text-align: center;
  font-size: 2.08rem;
}

.item {
  display: flex;
}

.plan {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-left: 0.8rem;
  font-weight: 500;
}

.cost {
  font-size: 1.6rem;
  margin-top: 1.76rem;
  margin-left: 0.8rem;
}

.button {
  margin-top: 1.12rem;
  margin-left: 1.6rem;
}
