@import '@styles/variables';

.section {
  width: 90%;
  max-width: 128rem;
  margin: 3.2rem auto;

  h2 {
    font-size: 3.2rem;
    color: $bastilleColor;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }
}
