@import '@styles/variables';
@import '@styles/mixins';

.comment {
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.8rem rgba($blackColor, 0.26);
  padding: 0;
  max-width: 44.8rem;
  background-color: $lightGrayColor;
  margin-bottom: 1.6rem;

  div {
    display: flex;
    position: relative;

    .delete-icon {
      margin-left: 18.4rem;
      display: none;
      cursor: pointer;

      @include respond(phone) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  p {
    margin-left: 0.8rem;
    margin-top: 0;

    span {
      font-weight: 500;
    }
  }

  .text {
    padding-bottom: 1.28rem;
  }

  &:hover {
    .delete-icon {
      display: block;
    }
  }
}
