@import '../../styles/variables.scss';

.comment {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0;
  max-width: 28rem;
  background-color: $lightGrayColor;
  margin-bottom: 1rem;

  div {
    display: flex;

    .delete-icon {
      margin-left: 11.5rem;
      display: none;
      cursor: pointer;
    }
  }

  p {
    margin-left: 0.5rem;
    margin-top: 0;

    span {
      font-weight: 500;
    }
  }

  .text {
    padding-bottom: 0.8rem;
  }

  &:hover {
    .delete-icon {
      display: block;
    }
  }
}
