@import '@styles/variables';
@import '@styles/mixins';

.content {
  width: 95%;
  max-width: 96rem;
  margin: 3.2rem auto;
  font-size: 2rem;
  line-height: 3.2rem;
  background-color: $lightGrayColor;
  border-radius: 0.6rem;
  padding: 1.6rem;

  p {
    color: $bastilleColor;

    a {
      color: $blueColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .image {
    margin: 1.6rem auto;
    width: 100%;
    max-width: 60rem;
  }

  @media (min-width: 768px) {
    padding: 3.2rem;
  }

  @include respond(phone) {
    margin-top: -3rem;
  }
}

.details {
  display: flex;
  flex: 1 1 0;

  section:nth-child(1) {
    margin-right: 3rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }

  section:nth-child(2) {
    max-width: 40rem;
  }

  .show-details {
    margin-left: 16rem;

    @include respond(phone) {
      margin-left: 14rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  ul {
    list-style: none;
    margin-top: 1rem;

    li {
      font-size: 1.76rem;

      span {
        font-weight: 700;
      }
    }
  }

  .message {
    font-size: 1.6rem;
  }

  @include respond(phone) {
    flex-direction: column;
    margin-top: 2rem;
  }
}
